<div class="flex min-w-0 flex-auto flex-col">
  <!-- Main -->
  <div class="flex-auto p-4 print:p-0 sm:p-10">
    <!-- Resume -->
    <article
      class="bg-card mx-auto max-w-256 rounded p-6 shadow print:w-auto print:max-w-none print:rounded-none print:bg-transparent print:shadow-none sm:p-12"
    >
      <ng-container *ngIf="!isLoading; else loading">
        <!-- Header -->
        <div class="resume-header">
          <div class="grid grid-cols-1 md:grid-cols-4 md:gap-8">
            <!-- resume-title -->
            <div class="col-span-3">
              <h2 class="text-4xl font-extrabold uppercase text-primary-500">
                {{ data.name }}
              </h2>
              <h4 class="mb-4 text-lg font-light md:mb-0">
                {{ data.professionalTitle }}
              </h4>
            </div>

            <!-- resume-contact -->
            <div class="space-y-2 md:px-2 ltr:md:border-l rtl:md:border-r">
              <ng-container *ngFor="let item of data.contact">
                <div
                  class="flex items-center space-x-2 text-xs rtl:space-x-reverse"
                >
                  <i
                    class="material-symbols-rounded icon icon-size-4"
                    [innerHtml]="generateSafeHtml(item.icon)"
                  >
                  </i>
                  <span>{{ item.value }}</span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="my-4 border-b"></div>

        <!-- Intro -->
        <div class="resume-intro">
          <div class="flex flex-col items-center py-4 md:flex-row">
            <div
              class="relative mb-4 h-32 w-32 flex-0 md:mb-0 ltr:md:mr-8 rtl:md:ml-8"
            >
              <img
                alt="Avatar"
                class="h-full w-full rounded-full"
                [src]="data.image"
              />
            </div>
            <div class="text-start">
              <p
                class="whitespace-pre-line text-justify"
                [innerHtml]="generateSafeHtml(data.about)"
              ></p>
            </div>
          </div>
        </div>

        <div class="my-4 border-b"></div>

        <!-- Body -->
        <div class="resume-body">
          <div class="grid grid-cols-1 md:grid-cols-4 md:gap-8">
            <!-- Main -->
            <div class="resume-main col-span-3">
              <!-- Work experiences -->
              <ng-container
                *ngIf="data.workExperiences && data.workExperiences.length > 0"
              >
                <div class="work-section py-4">
                  <h3
                    class="relative mb-6 border-primary-500 text-lg font-bold uppercase tracking-wider text-primary-500 ltr:border-l-8 ltr:pl-4 rtl:border-r-8 rtl:pr-4"
                  >
                    <ng-container *transloco="let t; read: 'resume'">
                      {{ t('work-experiences') }}
                    </ng-container>
                  </h3>
                  <div class="mb-4" *ngFor="let work of data.workExperiences">
                    <!-- header -->
                    <div
                      class="mb-2 flex flex-col sm:flex-row sm:items-center sm:justify-between"
                    >
                      <div>
                        <h4 class="text-base font-bold">
                          {{ work.title }}
                          <span class="text-secondary text-sm">
                            {{ ' - ' + work.employmentType }}
                          </span>
                        </h4>
                        <div class="text-secondary">
                          {{ work.place }}
                        </div>
                      </div>
                      <div class="text-secondary text-xs">
                        {{ work.startDate }} - {{ work.endDate }}
                      </div>
                    </div>

                    <!-- content -->
                    <div>
                      <p
                        class="mb-4 whitespace-pre-line text-justify"
                        [innerHtml]="generateSafeHtml(work.description)"
                      ></p>

                      <ul
                        class="list-inside list-disc ltr:pl-4 rtl:pr-4"
                        *ngIf="work.tasks && work.tasks.length > 0"
                      >
                        <li class="mt-1" *ngFor="let task of work.tasks">
                          {{ task }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </ng-container>

              <!-- Projects -->
              <ng-container *ngIf="data.projects && data.projects.length > 0">
                <div class="work-section py-4">
                  <h3
                    class="relative mb-6 border-primary-500 text-lg font-bold uppercase tracking-wider text-primary-500 ltr:border-l-8 ltr:pl-4 rtl:border-r-8 rtl:pr-4"
                  >
                    <ng-container *transloco="let t; read: 'resume'">
                      {{ t('projects') }}
                    </ng-container>
                  </h3>
                  <div class="mb-4" *ngFor="let proj of data.projects">
                    <!-- header -->
                    <div
                      class="mb-2 flex flex-col sm:flex-row sm:items-center sm:justify-between"
                    >
                      <h4 class="text-base font-bold">
                        <a [href]="proj.link" target="_blank">
                          {{ proj.title }}
                        </a>
                      </h4>
                      <div class="text-secondary text-xs">
                        {{ proj.status }}
                      </div>
                    </div>

                    <!-- content -->
                    <div>
                      <p
                        class="mb-4 whitespace-pre-line text-justify"
                        [innerHtml]="generateSafeHtml(proj.description)"
                      ></p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>

            <!-- Aside -->
            <div
              class="resume-aside ltr:md:border-l ltr:md:pl-4 rtl:md:border-r rtl:md:pr-4"
            >
              <!-- Skills -->
              <ng-container
                *ngIf="
                  data.technicalSkills &&
                  data.technicalSkills.length > 0 &&
                  data.professionalSkills &&
                  data.professionalSkills.length > 0
                "
              >
                <div class="skills-section py-4">
                  <h3
                    class="relative mb-6 border-primary-500 text-lg font-bold uppercase tracking-wider text-primary-500 ltr:border-l-8 ltr:pl-4 rtl:border-r-8 rtl:pr-4"
                  >
                    <ng-container *transloco="let t; read: 'resume'">
                      {{ t('skills') }}
                    </ng-container>
                  </h3>
                  <!-- Technical -->
                  <div *ngIf="data.technicalSkills.length > 0">
                    <h4 class="mb-2 text-base font-bold">
                      <ng-container *transloco="let t; read: 'resume'">
                        {{ t('technical') }}
                      </ng-container>
                    </h4>
                    <ul>
                      <li
                        class="mb-2"
                        *ngFor="let skill of data.technicalSkills"
                      >
                        {{ skill }}
                      </li>
                    </ul>
                  </div>
                  <!-- Professional -->
                  <div *ngIf="data.professionalSkills.length > 0">
                    <h4 class="mb-2 text-base font-bold">
                      <ng-container *transloco="let t; read: 'resume'">
                        {{ t('professional') }}
                      </ng-container>
                    </h4>
                    <ul>
                      <li
                        class="mb-2"
                        *ngFor="let skill of data.professionalSkills"
                      >
                        {{ skill }}
                      </li>
                    </ul>
                  </div>
                </div>
              </ng-container>

              <!-- Educations -->
              <ng-container
                *ngIf="data.educations && data.educations.length > 0"
              >
                <div class="skills-section py-4">
                  <h3
                    class="relative mb-6 border-primary-500 text-lg font-bold uppercase tracking-wider text-primary-500 ltr:border-l-8 ltr:pl-4 rtl:border-r-8 rtl:pr-4"
                  >
                    <ng-container *transloco="let t; read: 'resume'">
                      {{ t('educations') }}
                    </ng-container>
                  </h3>
                  <ul>
                    <li class="mb-2" *ngFor="let education of data.educations">
                      <div class="">{{ education.place }}</div>
                      <div class="text-secondary">
                        <span *ngIf="education.degree">
                          {{ education.degree }} -
                        </span>
                        <span>{{ education.fieldOfStudy }}</span>
                      </div>
                      <div class="text-secondary text-xs">
                        {{ education.startDate }} - {{ education.endDate }}
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-container>

              <!-- Languages -->
              <ng-container *ngIf="data.languages && data.languages.length > 0">
                <div class="skills-section py-4">
                  <h3
                    class="relative mb-6 border-primary-500 text-lg font-bold uppercase tracking-wider text-primary-500 ltr:border-l-8 ltr:pl-4 rtl:border-r-8 rtl:pr-4"
                  >
                    <ng-container *transloco="let t; read: 'resume'">
                      {{ t('languages') }}
                    </ng-container>
                  </h3>
                  <ul>
                    <li class="mb-2" *ngFor="let lang of data.languages">
                      {{ lang.title }}
                      <span class="text-secondary">({{ lang.grade }})</span>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="my-4 border-b"></div>

        <!-- Footer -->
        <div class="resume-footer">
          <div
            class="flex flex-col space-y-2 md:flex-row md:justify-center md:space-y-0 md:space-x-4 rtl:md:space-x-reverse"
          >
            <ng-container *ngFor="let item of data.social">
              <a
                class="group text-secondary flex items-center space-x-2 text-xs hover:text-default rtl:space-x-reverse"
                [href]="'https://' + item.value"
                target="_blank"
              >
                <i
                  class="material-symbols-rounded icon fill-current icon-size-5 group-hover:text-primary-500"
                  [innerHtml]="generateSafeHtml(item.icon)"
                >
                </i>
                <span>{{ item.value }}</span>
              </a>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </article>

    <ng-template #loading>
      <div class="flex items-center justify-center">
        <mat-spinner mode="indeterminate" diameter="48"> </mat-spinner>
      </div>
    </ng-template>
  </div>
</div>
