@use '@angular/material' as mat;
@use 'sass:map';

/* Force font family to IRANSans */
$typography: mat.define-typography-config(
  $font-family: theme('fontFamily.sans') /* get on tailwind */,
  $title: mat.define-typography-level(1.25rem, 2rem, 600),
  $body-2: mat.define-typography-level(0.875rem, 1.5rem, 600),
  $button: mat.define-typography-level(0.875rem, 0.875rem, 500),
  $input: mat.define-typography-level(0.875rem, 1.2857142857, 400),
);

/* Include the core Angular Material styles */
@include mat.core($typography);

/* Create a base theme without color. This will globally set the density and typography for all future color themes. */
@include mat.all-component-themes(
  (
    color: null,
    density: -2,
    typography: $typography,
  )
);

/* Generate Primary, Accent and Warn palettes */
$palettes: ();
@each $name in (primary, accent, warn) {
  $palettes: map.merge(
    $palettes,
    (
      #{$name}:
        (
          50: var(--color-#{$name}-50),
          100: var(--color-#{$name}-100),
          200: var(--color-#{$name}-200),
          300: var(--color-#{$name}-300),
          400: var(--color-#{$name}-400),
          500: var(--color-#{$name}-500),
          600: var(--color-#{$name}-600),
          700: var(--color-#{$name}-700),
          800: var(--color-#{$name}-800),
          900: var(--color-#{$name}-900),
          contrast: (
            50: var(--color-on-#{$name}-50),
            100: var(--color-on-#{$name}-100),
            200: var(--color-on-#{$name}-200),
            300: var(--color-on-#{$name}-300),
            400: var(--color-on-#{$name}-400),
            500: var(--color-on-#{$name}-500),
            600: var(--color-on-#{$name}-600),
            700: var(--color-on-#{$name}-700),
            800: var(--color-on-#{$name}-800),
            900: var(--color-on-#{$name}-900),
          ),
          default: var(--color-#{$name}),
          lighter: var(--color-#{$name}-100),
          darker: var(--color-#{$name}-700),
          text: var(--color-#{$name}),
          default-contrast: var(--color-on-#{$name}),
          lighter-contrast: var(--color-on-#{$name}-100),
          darker-contrast: var(--color-on-#{$name}-700),
        )
    )
  );
}

/* Generate Angular Material themes. Since we are using CSS Custom Properties,
    we don't have to generate a separate Angular Material theme for each color
    set. We can just create one light and one dark theme and then switch the
    CSS Custom Properties to dynamically switch the colors. */
body.light,
body .light {
  $base-light-theme: mat.define-light-theme(
    (
      color: $palettes,
    )
  );

  $light-theme: (
    color: (
      primary: map.get(map.get($base-light-theme, color), primary),
      accent: map.get(map.get($base-light-theme, color), accent),
      warn: map.get(map.get($base-light-theme, color), warn),
      is-dark: map.get(map.get($base-light-theme, color), is-dark),
      foreground: (
        base: #000000,
        divider: #e4e4e7 /* zinc.200 */,
        dividers: #e4e4e7 /* zinc.200 */,
        disabled: #a1a1aa /* zinc.400 */,
        disabled-button: #a1a1aa /* zinc.400 */,
        disabled-text: #a1a1aa /* zinc.400 */,
        elevation: #000000,
        hint-text: #a1a1aa /* zinc.400 */,
        secondary-text: #71717a /* zinc.500 */,
        icon: #71717a /* zinc.500 */,
        icons: #71717a /* zinc.500 */,
        mat-icon: #71717a /* zinc.500 */,
        text: #27272a /* zinc.800 */,
        slider-min: #27272a /* zinc.800 */,
        slider-off: #d4d4d8 /* zinc.300 */,
        slider-off-active: #a1a1aa /* zinc.400 */,
      ),
      background: (
        status-bar: #d4d4d8 /* zinc.300 */,
        app-bar: #ffffff,
        background: #f4f4f5 /* zinc.100 */,
        hover: rgba(161, 161, 170, 0.12) /* zinc.400 + opacity */,
        card: #ffffff,
        dialog: #ffffff,
        disabled-button: rgba(161, 161, 170, 0.38) /* zinc.400 + opacity */,
        raised-button: #ffffff,
        focused-button: #71717a /* zinc.500 */,
        selected-button: #e4e4e7 /* zinc.200 */,
        selected-disabled-button: #e4e4e7 /* zinc.200 */,
        disabled-button-toggle: #d4d4d8 /* zinc.300 */,
        unselected-chip: #e4e4e7 /* zinc.200 */,
        disabled-list-option: #d4d4d8 /* zinc.300 */,
        tooltip: #27272a /* zinc.800 */,
      ),
    ),
  );

  /* Use all-component-colors to only generate the colors */
  @include mat.all-component-colors($light-theme);
}

body.dark,
body .dark {
  $base-dark-theme: mat.define-dark-theme(
    (
      color: $palettes,
    )
  );

  $dark-theme: (
    color: (
      primary: map.get(map.get($base-dark-theme, color), primary),
      accent: map.get(map.get($base-dark-theme, color), accent),
      warn: map.get(map.get($base-dark-theme, color), warn),
      is-dark: map.get(map.get($base-dark-theme, color), is-dark),
      foreground: (
        base: #ffffff,
        divider: rgba(244, 244, 245, 0.12) /* gray.100 + opacity */,
        dividers: rgba(244, 244, 245, 0.12) /* gray.100 + opacity */,
        disabled: #52525b /* gray.600 */,
        disabled-button: #27272a /* gray.800 */,
        disabled-text: #52525b /* gray.600 */,
        elevation: #000000,
        hint-text: #71717a /* gray.500 */,
        secondary-text: #a1a1aa /* gray.400 */,
        icon: #a1a1aa /* gray.400 */,
        icons: #a1a1aa /* gray.400 */,
        mat-icon: #a1a1aa /* gray.400 */,
        text: #ffffff,
        slider-min: #ffffff,
        slider-off: #71717a /* gray.500 */,
        slider-off-active: #a1a1aa /* gray.400 */,
      ),
      background: (
        status-bar: #000000,
        app-bar: #18181b /* gray.900 */,
        background: #18181b /* gray.900 */,
        hover: rgba(255, 255, 255, 0.05),
        card: #27272a /* gray.800 */,
        dialog: #27272a /* gray.800 */,
        disabled-button: rgba(15, 23, 42, 0.38) /* gray.900 + opacity */,
        raised-button: #18181b /* gray.900 */,
        focused-button: #e4e4e7 /* gray.200 */,
        selected-button: rgba(255, 255, 255, 0.05),
        selected-disabled-button: #27272a /* gray.800 */,
        disabled-button-toggle: #18181b /* gray.900 */,
        unselected-chip: #52525b /* gray.600 */,
        disabled-list-option: #e4e4e7 /* gray.200 */,
        tooltip: #71717a /* gray.500 */,
      ),
    ),
  );

  /* Use all-component-colors to only generate the colors */
  @include mat.all-component-colors($dark-theme);
}
